.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    transition: ease-in-out 0.3s; 
    padding: 1rem;
 }
 
 .navbar .container {
     display: flex;
     align-items: center;
 }
 
 .navbar-brand {
     margin-right: auto;
     font-size: 2rem;
     font-weight: 700;
     transition: ease-in-out 0.3s;
     color: black;
 }
 
 .navbar.sticky {
     background-color: white;
     box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
 }
 
 .navbar.sticky .navbar-toggler span, 
 .navbar.sticky .navbar-brand {
     color: black;
 }
 
 .navbar-toggler {
     position: absolute;
     right: var(--size-20);
     top: var(--size-10);
     outline: none;
     background-color: transparent;
     border: 1px solid transparent;
 }
 
 .navbar-toggler span {
     color: white;
     font-size: var(--size-20);
     cursor: pointer;
     pointer-events: none;
 }
 
 [aria-controls="navbarDropdown"] {
     display: none;
 }
 
 .navbar-nav {
     display: flex;
 }
 .nav-link a {
     color: black;
     font-size: 0.8125rem;
     font-weight: 600;
     font-family: "Hind", sans-serif;
     text-transform: uppercase;
     margin: var(--size-10) var(--size-10);
     line-height: var(--size-20);
 }

 .nav-link:hover {
    /* background-color: rgba(200, 200, 200, 0.5); Light grey mostly transparent */
    box-shadow: 5px 10px 5px 0px rgb(147,147,147,0.65);
  }
  
  /* Style when selected */
  .nav-link:active,
  .nav-link:focus {
    background-color: black;
  }
  .nav-link a:active,
  .nav-link a:focus {
    color: white;
  }